<div class="ms-container">
    <div class="ms-selectable">
        <ul class="ms-list">
            <li class="ms-elem-selectable half" ms-value="0">choose a option...</li>
            <li class="ms-elem-selectable half" ms-value="1">Andorra</li>
            <li class="ms-elem-selectable half" ms-value="2">Antarctica</li>
            <li class="ms-elem-selectable half" ms-value="3">Bulgaria</li>
            <li class="ms-elem-selectable half" ms-value="4">Germany</li>
            <li class="ms-elem-selectable half" ms-value="5">Dominican Republic</li>
            <li class="ms-elem-selectable half" ms-value="6">Micronesia</li>
            <li class="ms-elem-selectable half" ms-value="7">United Kingdom</li>
            <li class="ms-elem-selectable half" ms-value="8">Greece</li>
            <li class="ms-elem-selectable half" ms-value="9">Italy</li>

            <li class="ms-elem-selectable half" ms-value="10">carol</li>
            <li class="ms-elem-selectable half" ms-value="11">Gttno</li>
            <li class="ms-elem-selectable half" ms-value="12">Jceec</li>
            <li class="ms-elem-selectable half" ms-value="13">Bulgaria</li>
            <li class="ms-elem-selectable half" ms-value="14">Germany</li>
            <li class="ms-elem-selectable half" ms-value="15">Dominican</li>
            <li class="ms-elem-selectable half" ms-value="16">Republic</li>
            <li class="ms-elem-selectable half" ms-value="17">United Kingdom</li>
            <li class="ms-elem-selectable half" ms-value="18">Greece</li>
            <li class="ms-elem-selectable half" ms-value="19">Italy</li>
        </ul>
    </div>
    <div class="ms-selection">
        <ul class="ms-list">
        </ul>
    </div>
</div>
