<div class="ms-container">
    <div class="ms-selectable">
        <ul class="ms-list">
            <li class="ms-elem-selectable" ms-value="0">choose a option...</li>
            <li class="ms-elem-selectable" ms-value="1">Andorra</li>
            <li class="ms-elem-selectable" ms-value="2">Antarctica</li>
            <li class="ms-elem-selectable" ms-value="3">Bulgaria</li>
            <li class="ms-elem-selectable" ms-value="4">Germany</li>
            <li class="ms-elem-selectable" ms-value="5">Dominican Republic</li>
            <li class="ms-elem-selectable" ms-value="6">Micronesia</li>
            <li class="ms-elem-selectable" ms-value="7">United Kingdom</li>
            <li class="ms-elem-selectable" ms-value="8">Greece</li>
            <li class="ms-elem-selectable" ms-value="9">Italy</li>
        </ul>
    </div>
    <div class="ms-selection">
        <ul class="ms-list">
        </ul>
    </div>
</div>
