<header>
	<h1 class="h3">Jquery Flexigrid</h1>
</header>

<section>
	<div>
		<table id="flexme1">
			<!-- <thead>
				<tr>
					<th width="100">Col 1</th>
					<th width="100">Col 2</th>
					<th width="100">Col 3</th>
					<th width="300">Col 4</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="t1 in table1">
					<td width="100">{{ t1.level }}</td>
					<td width="100">{{ t1.status }}</td>
					<td width="100">{{ t1.alarmObject }}</td>
					<td width="300">{{ t1.lasingTime }}</td>
				</tr>
			</tbody> -->
		</table>
	</div>
	<div>
		<table id="flexme2"></table>
	</div>
</section>