<header>
    <h1 class="h3">Echarts</h1>
</header>

<section ng-controller="echartsCtrl as e">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">环</div>
				<div class="panel-body">
					<div style="position: relative; width: 150px; height: 150px; margin: 0 auto;">
						<div style="position: absolute; z-index: 2;">
							<div id="ringSimple" style="width: 150px; height: 150px;"></div>
						</div>
						<div style="position: absolute; z-index: 4; width: 150px; height: 150px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">环2</div>
				<div class="panel-body">
					<div style="position: relative; width: 150px; height: 150px; margin: 0 auto;">
						<div style="position: absolute; z-index: 2;">
							<div id="ringInside" style="width: 150px; height: 150px;"></div>
						</div>
						<div style="position: absolute; z-index: 4; width: 150px; height: 150px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">饼</div>
				<div class="panel-body">
					<div style="position: relative; width: 150px; height: 150px; margin: 0 auto;">
						<div style="position: absolute; z-index: 2;">
							<div id="pieSimple" style="width: 150px; height: 150px;"></div>
						</div>
						<div style="position: absolute; z-index: 4; width: 150px; height: 150px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">面积图</div>
				<div class="panel-body">
					<div style="position: relative; width: 150px; height: 150px; margin: 0 auto;">
						<div style="position: absolute; z-index: 2;">
							<div id="area" style="width: 150px; height: 150px;"></div>
						</div>
						<div style="position: absolute; z-index: 4; width: 150px; height: 150px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">玫瑰图</div>
				<div class="panel-body">
					<div style="position: relative; width: 200px; height: 200px; margin: 0 auto;">
						<div style="position: absolute; z-index: 2;">
							<div id="rose" style="width: 200px; height: 200px;"></div>
						</div>
						<!-- <div style="position: absolute; z-index: 4; width: 500px; height: 500px;"></div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
