<div class="navbar navbar-inverse aside-wrap">
    <ul class="nav navbar-nav">
        <li>
            <a href="" class="font-bold">
                <span class="pull-right text-muted" style="color:#869fb1;">
                    <small class="glyphicon glyphicon-chevron-right"></small>
                    <small class="glyphicon glyphicon-chevron-down hidden"></small>
                </span>
                <i class="glyphicon glyphicon-th-large text-green"></i>
                <span>后台测试</span>
            </a>
            <ul class="nav nav-hidden">
                <li>
                    <a href ui-sref="app.backTest.query">简单的</a>
                </li>
                <li>
                    <a href ui-sref="app.backTest.transmit">传输过程</a>
                </li>
                <li>
                    <a href ui-sref="app.backTest.socketIo">socket.io</a>
                </li>
            </ul>
        </li>

        <li class="line bg-black"></li>
        <li class="li-title">
            <span translate="aside.components">组件</span>
        </li>

        <li>
            <a href="" class="font-bold">
                <span class="pull-right text-muted" style="color:#869fb1;">
                    <small class="glyphicon glyphicon-chevron-right"></small>
                    <small class="glyphicon glyphicon-chevron-down hidden"></small>
                </span>
                <i class="glyphicon glyphicon-th-list text-blue"></i>
                <span>Table</span>
            </a>
            <ul class="nav nav-hidden">
                <li><a href ui-sref="app.table.bootstrapTable">BootstrapTable</a></li>
                <li><a href ui-sref="app.table.JTabledit">JTabledit</a></li>
                <li><a href ui-sref="app.table.flexigrid">JFlexigrid</a></li>
                <li><a href ui-sref="app.table.anguFixedHeader">anguFixedHeader</a></li>
                <li><a href ui-sref="app.table.dataTables">dataTables</a></li>
                <li><a href ui-sref="app.table.ngGrid">ngGrid</a></li>
            </ul>
        </li>
        <li>
            <a href="" class="font-bold">
                <span class="pull-right text-muted" style="color:#869fb1;">
                    <small class="glyphicon glyphicon-chevron-right"></small>
                    <small class="glyphicon glyphicon-chevron-down hidden"></small>
                </span>
                <i class="glyphicon glyphicon-list-alt"></i>
                <span>表单</span>
            </a>
            <ul class="nav nav-hidden">
                <li><a href ui-sref="app.form.dateTime">日期 & 时间</a></li>
                <li><a href ui-sref="app.form.validation">表单验证</a></li>
                <li><a href ui-sref="app.form.navigation">导航</a></li>
                <li><a href ui-sref="app.form.imageCrop">图像修剪</a></li>
                <li><a href ui-sref="app.form.fileUpload">文件上传</a></li>
                <li><a href ui-sref="app.form.webUploader">大文件分片上传</a></li>
                <li><a href ui-sref="app.form.storageFile">服务器存储文件</a></li>
                <li><a href ui-sref="app.form.excel">Excel</a></li>
                <li><a href ui-sref="app.form.select">选择</a></li>
            </ul>
        </li>
        <li>
            <a href="" class="font-bold">
                <span class="pull-right text-muted" style="color:#869fb1;">
                    <small class="glyphicon glyphicon-chevron-right"></small>
                    <small class="glyphicon glyphicon-chevron-down hidden"></small>
                </span>
                <i class="glyphicon glyphicon-th"></i>
                <span>图表</span>
            </a>
            <ul class="nav nav-hidden">
                <li><a href ui-sref="app.chart.echarts">Echarts</a></li>
            </ul>
        </li>

        <li class="line bg-black"></li>

        <li>
            <a href="" class="font-bold">
                <span class="pull-right text-muted" style="color:#869fb1;">
                    <small class="glyphicon glyphicon-chevron-right"></small>
                    <small class="glyphicon glyphicon-chevron-down hidden"></small>
                </span>
                <i class="glyphicon glyphicon-knight text-purple"></i>
                <span>Icinga</span>
            </a>
            <ul class="nav nav-hidden">
                <li><a href ui-sref="app.icinga.commands">监控命令</a></li>
            </ul>
        </li>

        <li>
            <a href="" class="font-bold">
                <span class="pull-right text-muted" style="color:#869fb1;">
                    <small class="glyphicon glyphicon-chevron-right"></small>
                    <small class="glyphicon glyphicon-chevron-down hidden"></small>
                </span>
                <i class="glyphicon glyphicon-th-list text-blue"></i>
                <span>HTML 5</span>
            </a>
            <ul class="nav nav-hidden">
                <li><a href ui-sref="app.html5.canvas">canvas</a></li>
            </ul>
        </li>

    </ul>
</div>
