    <!-- navbar header -->
    <section class="navbar-header nav-header">
        <button class="pull-right visible-xs">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <a href ui-sref="app.homePage" class="navbar-brand">
            <i class="glyphicon glyphicon-home" style="margin-right:10px;"></i>
            <strong class="hidden-folded">HMX</strong>
        </a>
    </section>
    <!-- / navbar header -->

    <!-- navbar collapse -->
    <nav class="collapse navbar-collapse nav-header-collapse">

        <!-- buttons -->
        <div class="nav navbar-nav">
            <a href class="btn navbar-btn">
                <i class="glyphicon glyphicon-th" ng-click="switchMenu()"></i>
            </a>
            <a href class="btn navbar-btn">
                <i class="glyphicon glyphicon-user"></i>
            </a>
        </div>
        <!-- / buttons -->

        <!-- link and dropdown -->
        <ul class="nav navbar-nav" style="border:0px;">
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <span>Info</span>
                    <sapn class="caret"></sapn>
                </a>
                <ul class="dropdown-menu" role="menu" >
                    <li><a href>Projects</a></li>
                    <li>
                        <a href>
                            <span class="badge pull-right" style="background-color:#2aabd2;">5</span>
                            <span>Task</span>
                        </a>
                    </li>
                    <li><a href>User</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href>
                            <span class="badge pull-right" style="background-color:#d9534f;">4</span>
                            <span>Email</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <span>News</span>
                    <sapn class="caret"></sapn>
                </a>
                <div class="dropdown-menu" ng-stop-dropdown>
                    <ul class="list-unstyled">
                        <li class="nowrap">
                            <input type="checkbox"/> Projects - Projects - Projects - Projects - Projects - Projects - Projects - Projects
                        </li>
                        <li>
                            <lable><input type="checkbox"/> Task </lable>
                        </li>
                        <li>
                            <lable><input type="checkbox"/> User </lable>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <lable><input type="checkbox"/> Projects </lable>
                        </li>
                        <li>
                            <lable><input type="checkbox"/> Email </lable>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a href class="dropdown-toggle" ng-dropdown>
                    <span>News</span>
                    <sapn class="caret"></sapn>
                </a>
                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        <li>
                            <lable><input type="checkbox"/> Projects </lable>
                        </li>
                        <li>
                            <lable><input type="checkbox"/> Task </lable>
                        </li>
                        <li>
                            <lable><input type="checkbox"/> User </lable>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <lable><input type="checkbox"/> Projects </lable>
                        </li>
                        <li>
                            <lable><input type="checkbox"/> Email </lable>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- / link and dropdown -->

    </nav>
    <!-- / navbar collapse -->
